:where(.icon) {
  flex: 0 0 auto;
  width: var(--icon-size);
  height: var(--icon-size);

  :where(path, rect, circle, .icon__line) {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  :where(.icon__fill) {
    opacity: var(--icon-fill-opacity);
    fill: currentColor;
    stroke: none;
  }
}
