:root {
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-bounce-in: cubic-bezier(0.2, -0.8, 0.4, 1);
  --easing-bounce-out: cubic-bezier(0.6, 0, 0.4, 1.5);
  --timing-fast: 150ms;
  --timing-standard: 150ms;
}
