:where(.slider) {
  --slider-track: var(--input-border);
  --slider-height: var(--button-size-medium);
  --slider-track-height: var(--spacing-small);
  --slider-thumb-size: 1.25rem;
  --slider-thumb-color: var(--input-active);
  --slider-range-color: var(--input-active-secondary);
  --slider-length: 100px;
  --slider-transition-time: var(--timing-slow);
  --dragging: 0;
  display: grid;
  grid: var(--slider-height) / 1fr;
  padding-inline: calc(var(--slider-thumb-size) / 2);

  &::before {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: stretch;
    height: var(--slider-track-height);
    margin: 0 calc(var(--slider-thumb-size) / -2);
    border-radius: 0.5rem;
    background: var(--slider-track);
  }

  :where(.slider__draggable) {
    --position: 0;
    --transition-time: calc(var(--slider-transition-time) * (1 - var(--dragging, 0)));
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: flex-start;
    cursor: pointer;
    transition: transform var(--transition-time) var(--ease-squish-4),
      width var(--transition-time) var(--ease-squish-4),
      outline-width var(--timing-slow) var(--ease-squish-4);
    transform: translateX(calc(var(--position) * var(--slider-length) * var(--ltr)));
  }

  :where(.slider__thumb) {
    --focus-width: 0.5rem;
    position: relative;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    margin: 0 calc(var(--slider-thumb-size) / -2);
    border-radius: 50%;
    background: var(--slider-thumb-color);
    outline: solid 0 var(--focus);

    &:where(:hover, :focus, :active) {
      outline-width: var(--focus-width);
    }
  }

  :where(.slider__range) {
    width: calc(var(--width) * var(--slider-length));
    height: var(--slider-track-height);
    background: var(--slider-range-color);
  }

  &:where([aria-disabled="true"]) {
    --slider-thumb-color: var(--input-inactive);
    --slider-range-color: var(--input-inactive);
    opacity: var(--disabled-opacity);
    cursor: not-allowed;

    :where(.slider__draggable) {
      outline-width: 0;
      cursor: not-allowed;
    }
  }
}
