:where([data-theme="dark"]) {
  --background: var(--slate-800);
  --panel: var(--slate-700);
  --foreground: var(--slate-100);
  --foreground-secondary: var(--slate-200);
  --skeleton-base: var(--slate-700);
  --skeleton-highlight: var(--slate-600);
  --input-background: var(--slate-900);
  --input-inactive: var(--slate-500);
  --input-border: var(--slate-500);
  --input-placeholder: var(--slate-400);
  --input-active: var(--accent);
  --shadow-hsl: 0 0% 0%;
  --focus: hsla(var(--accent-hsl) / 0.5);
  --tooltip-background: var(--amber-800);
  --tooltip-foreground: var(--amber-100);
}
