:root,
:where([data-theme="light"]) {
  --background: var(--slate-50);
  --foreground: var(--slate-700);
  --skeleton-base: var(--slate-200);
  --skeleton-highlight: var(--slate-100);
  --input-inactive: var(--slate-300);
  --input-active: var(--accent);
  --shadow-hsl: var(--slate-900-hsl);
}
