:root,
:where([data-theme="light"]) {
  --background: var(--neutral-1);
  --panel: var(--neutral-2);
  --foreground: var(--neutral-12);
  --foreground-secondary: var(--neutral-11);
  --skeleton-base: var(--neutral-9);
  --skeleton-highlight: var(--neutral-11);
  --input-background: var(--neutral-1);
  --input-inactive: var(--neutral-8);
  --input-border: var(--neutral-7);
  --input-placeholder: var(--neutral-11);
  --input-active: var(--accent-9);
  --input-active-secondary: var(--accent-8);
  --shadow-hsl: 206 24% 9%;
  --focus: var(--accent-a-4);
  --tooltip-background: var(--amber-3);
  --tooltip-foreground: var(--amber-12);
  --accent-inverse: var(--accent-1);
}
