:root {
  --spacing-tiny: token("spacing.tiny");
  --spacing-small: token("spacing.small");
  --spacing-medium: token("spacing.medium");
  --spacing-large: token("spacing.large");
  --icon-size: token("size.icon");
  --button-size-small: token("size.button.small");
  --button-size-medium: token("size.button.medium");
  --button-size-large: token("size.button.large");
  --focus-width: token("size.focus");
  --border-width-standard: token("border.width.standard");
  --border-radius-standard: token("border.radius.standard");
  --border-radius-large: token("border.radius.large");
}
