:root {
  --spacing-tiny: token("spacing.tiny");
  --spacing-small: token("spacing.small");
  --spacing-medium: token("spacing.medium");
  --spacing-large: token("spacing.large");
  --size-icon: token("size.icon");
  --size-button-small: token("size.button.small");
  --size-button-medium: token("size.button.medium");
  --size-button-large: token("size.button.large");
  --border-width-standard: token("border.width.standard");
  --border-radius-standard: token("border.radius.standard");
}
