@keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--skeleton-base) 35%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-base) 65%
  );
  background-size: 300% 100%;
  pointer-events: none;
  animation: loading normal 1.5s ease-in-out infinite;
}
