:root {
  --font-stack-sans-serif: token("font.stack.sans-serif");
  --font-stack-serif: token("font.stack.serif");
  --font-stack-monospace: token("font.stack.monospace");

  --font-family-default: var(--font-stack-sans-serif);
  --font-family-fancy: var(--font-stack-sans-serif);
  --font-family-mono: var(--font-stack-monospace);

  --font-size-tiny: token("font.size.tiny");
  --font-size-small: token("font.size.small");
  --font-size-medium: token("font.size.medium");
  --font-size-large: token("font.size.large");
  --font-weight-light: token("font.weight.light");
  --font-weight-regular: token("font.weight.regular");
  --font-weight-medium: token("font.weight.medium");
  --font-weight-bold: token("font.weight.bold");
  --line-height-tiny: token("font.lineHeight.tiny");
  --line-height-small: token("font.lineHeight.small");
  --line-height-medium: token("font.lineHeight.medium");
  --line-height-large: token("font.lineHeight.large");

  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-default);
  line-height: var(--line-height-medium);
}

:where(*) {
  font-family: var(--font-family-default);
}
