:root {
  --font-stack-sans-serif: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  --font-stack-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  --font-stack-monospace: "Operator Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  --font-family-default: var(--font-stack-sans-serif);
  --font-family-fancy: var(--font-stack-sans-serif);
  --font-family-mono: var(--font-stack-monospace);

  font-family: var(--font-family-default);

  --font-size-tiny: token("font.size.tiny");
  --font-size-small: token("font.size.small");
  --font-size-medium: token("font.size.medium");
  --line-height-tiny: token("font.lineHeight.tiny");
  --line-height-small: token("font.lineHeight.small");
  --line-height-medium: token("font.lineHeight.medium");
}
