@import "./styles/sizes.css";
@import "./styles/colors/colors.css";
@import "./styles/typography/typography.css";
@import "./styles/themes/light.css";
@import "./styles/themes/dark.css";

:root {
  font-size: token("size.base");
}

:where([data-theme]) {
  background-color: var(--background);
  color: var(--foreground);
}
