:where(.checkbox) {
  :where(rect) {
    fill: var(--background);
    stroke: var(--input-outline);

    + :where(path) {
      fill: none;
      stroke: var(--accent-inverse);
      transform: none;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
    }
  }

  :where(:checked ~ .icon) {
    :where(rect) {
      fill: var(--input-active);
    }

    :where(path) {
      transition: stroke-dashoffset var(--timing-slow) var(--easing-standard);
      stroke-dashoffset: 0;
    }
  }

  &:where(:has(:indeterminate)) {
    &::after {
      content: "";
      position: absolute;
      border-radius: 1px;
      background-color: var(--accent-1);
      inset: calc(50% - 1px) calc(100% / 3);
    }
  }

  :indeterminate {
    &::after {
      content: "";
      position: absolute;
      border-radius: 1px;
      background-color: var(--accent-1);
      inset: calc(50% - 1px) calc(100% / 3);
    }
  }

  :where(:indeterminate ~ .icon) {
    --input-outline: var(--input-active);

    :where(rect) {
      fill: var(--input-outline);
      stroke: var(--input-outline);
    }

    :where(path) {
      opacity: 0;
    }
  }
}
